---
layout: layout
---
<div class="container">
  <div class="row">
    <div class="col-md-3" style="text-align:center;">
      <div class="avatar">
    	   <img class="rounded-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image" style="max-width: 70%; height: auto;">
      </div>
      <h5>Mirza Fauzan Khan, Cybersecurity Student</h5>
      {% include social.html %}
    </div>
    <div class="col-md-9">
      <h1><strong>Hi! I'm Fauzan</strong></h1>
      <p>
        I am a second year student in cybersecurity at <a href="https://www.polibatam.ac.id//">Politeknik Negeri Batam</a>, Indonesia.
      </p>
      <p>
        Currently i'm learning focusing on Software Development, Data Science, and Machine Learning<!--Data Science, ..., and ...-->
      </p>
    	<p>
        Check out my <a href="http://github.com/{{ site.username }}">Coding Projects</a>,
        or consult my <em><a href="{{ site.baseurl }}static/resume.pdf">Curriculum Vitae</a></em>.
      </p>
      </br>
    </div>
  </div>
</div>

</br>
</br>
</br>

{% include footer.html %}
